<!DOCTYPE html>
<html ng-app="nodeInventory">
  <head>
    <title>Inventory App - with Node + Express + Angular + PostgreSQL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
  </head>
  <body ng-controller="mainController">
    <div class="container">
      <div class="header">
        <h1>Inventory App</h1>
        <hr>
        <h1 class="lead">Node + Express + Angular + PostgreSQL</h1>
      </div>
      <div class="inventory-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Enter text..." ng-model="formData.name">
            <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createItem()">Add Inventory</button>
          </div>
        </form>
      </div>
      <br>
      <div class="inventory-list">
        <div ng-repeat="inventory in inventoryData">
          <div class="itemInfo">
            <div class="itemName" ng-click="displayDetails = ! displayDetails">
              <h3>{{ inventory.name }}</h3>
            </div>
            <div class="itemDetails" ng-show="displayDetails">
              Delete: <input class="lead" type="checkbox" ng-click="deleteItem(inventory.id)">
            </div>
          </div>
        </div>
      </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
    <script src="javascripts/app.js"></script>
  </body>
</html>
